footer {
  background-color: #3a3a3a;
  direction: rtl;
  color: #fff;
  display: flex;
  flex-direction: row;

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: 200px;

    h3 {
      color: #fff;
      font-size: 2rem;
      font-weight: 900;
    }

    p {
      color: #fff;
      padding-bottom: 30px;
    }

    label {
      padding-top: 15px;
      font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 1rem;
      font-weight: bold;
    }

    input {
      line-height: 1.7rem;
      border: 0;
      border-bottom: 3px solid #1ae0ec;
    }

    textarea {
      line-height: 1rem;
      border: 0;
      border-bottom: 3px solid #1ae0ec;
    }

    button {
      @extend %button;
      margin-top: 25px;
      width: 120px;
      color: #2c2c2c;
    }
  }

  img {
    width: 620px;
    height: 521px;
    margin-right: 100px;
  }
}

.myContact {
  background-color: #1ae0ec;

  figure {
    text-align: center;
  }

  .myContact1 {
    padding: 35px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .myContact2 {
    height: 30px;
    background-color: #000;
    position: relative;
    bottom: 5px;
    align-content: center;
    padding-left: 20px;

    p {
      color: #1ae0ec;
    }
  }
}

@media (min-width: 250px) and (max-width: 550px) {
  footer {
    flex-direction: column-reverse;

    img {
      width: 220px;
      height: auto;
      margin-top: 0;
      margin-right: 150px;
    }

    div {
      width: 80%;
      display: flex;
      flex-direction: column;
      direction: rtl;
      padding-top: 0;
      padding-bottom: 70px;
      margin: 0 auto;

      h3 {
        font-size: 1.5rem;
      }

      p {
        text-align: justify;
      }
    }
  }

  .myContact .myContact1 {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    align-items: center;
    padding: 0;
  }
}