.opening {
    height: 360px;
    background-color: #13E8F163;
    padding: 100px 0;
}

.opening h1 {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 10px;
}

.opening p {
    width: 35vw;
    font-weight: 600;
    text-align: center;
    margin: auto;
}

@media (min-width:250px) and (max-width:550px) {
    .opening {
        height: 380px;
    }

    .opening h1 {
        font-size: 3.2rem;

    }

    .opening p {
        width: 80vw;
    }
}