.menu {
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: #000;
    color: rgb(196, 196, 196);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 15vw;
    padding-right: 15vw;
    border-top: 2px solid #1AE0EC;
}

.myName {
    display: flex;
    align-items: center;


    #iconMen {
        width: 30px;
        height: 30px;
    }

    h2 {
        font-size: 1.2rem;
        padding-left: 5px;
        color: rgb(196, 196, 196);
        margin: 0 auto;
        padding-left: 10px;
        font-family: "Satisfy", cursive;
        font-weight: 400;
        font-style: normal;
    }

    #iconHome,
    a {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10vw;
    }
}

@media (min-width:250px) and (max-width:550px) {
    .menu {
        height: 50px;
        padding-left: 5px;
        padding-right: 5px;

        .myName h2 {
            display: none;
        }

        #iconMen {
            width: 40px;
            height: 40px;
        }

        #iconHome,
        a {
            width: 40px;
            height: 40px;
            right: 5px;
        }
    }
}