* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imgMobil {
    display: none;
}

.main {
    width: 100vw;
    overflow: hidden;

    img {
        width: 100vw;
    }

    div {
        position: absolute;
        top: 150px;
        width: 100vw;
        text-align: center;

        h3 {
            font-family: Assistant;
            font-weight: 700;
            font-size: 4rem;
            padding-bottom: 10px;
            color: #D3E10E;
        }

        p {
            font-family: Assistant;
            font-size: 0.9rem;
            font-weight: 300;
            padding-bottom: 15px;
            color: #fff;
            direction: rtl;
        }
    }
}

form {
    direction: rtl;
    display: flex;
    width: 700px;
    margin: auto;
    font-family: Assistant;
    color: #011560;
    padding: 50px 30px 150px;

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    label {
        font-size: 0.7rem;
        font-weight: bold;
    }

    input {
        border: none;
        border-bottom: 2px solid #D3E10E;
        line-height: 2.3em;
        background-color: #E5EEFF;
        width: 250px;
    }

    button {
        font-size: 1rem;
        background-color: #D3E10E;
        padding: 8px 40px;
        border: none;
        margin: auto;
        margin-bottom: 10px;
        color: #011560;
    }
}

@media (min-width:250px) and (max-width:550px) {

    main,
    .img,
    h3,
    p {
        display: none;
    }

    .imgMobil {
        display: block;
        width: 100%;
    }

    form {
        flex-direction: column;
        width: 100%;


        div {
            padding: 10px 0;
        }

        input {
            width: 100%;
        }

        button {
            width: 100%;
            margin-top: 10px;
            font-weight: bold;
        }
    }
}