.opening {
    height: 450px;
    background-color: #13E8F163;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 3.5rem;
        padding-bottom: 30px;
        font-family: Heebo;
        font-weight: 900;
    }

    p {
        width: 35vw;
        text-align: center;
        padding-bottom: 30px;
    }

    a {
        @extend %text;
        background-color: #1AE0EC;
        border-radius: 18px;
        padding: 6px 28px;
        border: none;
        font-weight: bold;
        margin: 0 5px;
        text-decoration: none;
    }
}