* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    background-color: #FDBD03;
    width: 25vw;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.Icon_Whatsapp {
    /* width: 65px;
    height: 65px; */
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #FDBD03;
    padding: 15px;
    border-radius: 100%;

}

.main {
    direction: rtl;
    display: flex;
    margin: 100px 50px;
    justify-content: space-evenly;

    .image img {
        width: 100%;
        height: auto;
    }

    form {
        padding: 90px 100px 40px 0;

        h1 {
            font-family: Heebo;
            font-size: 3rem;
            font-weight: 700;
            color: #FDBD03;
        }

        p {
            font-family: Heebo;
            width: 300px;
            padding: 10px 0 30px;
            color: #020253;
        }

        .name_email {
            display: flex;
            justify-content: space-between;


            div {
                display: flex;
                flex-direction: column;
                padding-bottom: 10px;
            }

            input {
                border: none;
                border-bottom: 3px solid #FDBD03;
                background-color: #E5EEFF;
                line-height: 2rem;
                width: 290px;
            }
        }

        label {
            font-family: Heebo;
            font-weight: bold;
            font-size: 0.9rem;
            color: #2C2C2C;
        }

        .message {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;

            #message {
                line-height: 5.5rem;
                border: none;
                border-bottom: 3px solid #FDBD03;
                background-color: #E5EEFF;
                width: 600px;
            }
        }

        button {
            background-color: #FDBD03;
            border: none;
            padding: 6px 30px;
            font-family: Heebo;
            font-weight: 900;
            font-size: 0.9rem;
            color: #000;
        }

    }
}

.icon {
    width: 700px;
    border-bottom: 10px solid #FDBD03;
    padding: 30px;

    div {
        display: inline-block;
        padding: 20px;
        width: 70px;
        height: 70px;
        margin-right: 20px;
        background-color: #FDBD03;
        border-radius: 100%;
        box-shadow: 0px 3px 6px #00000029;
        overflow: hidden;
        align-content: center;

        img {
            width: auto;
            height: 100%;
        }
    }


}

@media (min-width:250px) and (max-width:550px) {
    .box {
        width: 80vw;
        height: 10px;
    }

    .Icon_Whatsapp {
        display: none;
    }

    .main {
        flex-direction: column;
        margin: 60px 30px;
        align-items: center;

        .image img {
            width: 30vw;
        }

        form {
            padding: 50px 30px;
            width: 100vw;
            text-align: center;

            h1 {
                font-size: 2.5rem;
                font-weight: 900;
            }

            p {
                width: 80%;
                margin: auto;

            }

            label {
                text-align: start;
            }

            .name_email {
                flex-direction: column;

                input {
                    width: 100%;
                }
            }

            .message {
                width: 100%;
                padding-bottom: 0;

                #message {
                    width: 100%;
                }
            }

            button {
                width: 100%;
            }
        }
    }

    .icon {
        width: auto;
        text-align: center;
        padding: 20px 0;

        div {
            padding: 15px;
            width: 50px;
            height: 50px;
            margin: 5px;


        }
    }
}